.center {
	text-align: center;
}

.header-bar {
	background-color: #ABA6BF;
}

.strong {
	font-weight: bold;
}

.upper {
	text-transform: uppercase;
}

.top-mar-20 {
	margin-top: 20px;
}

.deeper td {
	padding: 3px 0;
}

.got td {
	opacity: 0.2;
}

body {
	background-color: #F1E0D6;
	color: #583E2E;
	width: 100%;
}

header {
	padding: 20px 10px;
	margin-bottom: 15px;
	background-color: #BF988F
}

header h1 {
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	color: #583e2e;
}

header h1 a, header h1 a:hover {
	color: #583e2e;
}

header h1 span {
	color: #595775;
}

select {
	width: 100%;
}

.container {
	padding-bottom: 15px;
}

.section-divider {
	display: block;
	width: 80%;
	background-color: #583E2E;
	margin: 20px auto;
}

.section-divider p {
	padding: 15px 5px;
	text-align: center;	
}

.section-divider a {
	text-transform: none;
	color: #F1E0D6;
	padding: 15px 5px;
}

.bold-menu, .add-button {
	font-family: 'Oswald', sans-serif;
}

.stripe-list tr:nth-of-type(even) {
	background-color: #E1D0D6;
}

.add-button {
	width: 100%;
	background-color: #583E2E;
	text-transform: none;
	color: #F1E0D6;
	padding: 5px;
}

.add-button a {
	text-transform: none;
	color: #F1E0D6;
}

.dept-name, .meal-name {
	width: 100%;
	background-color: #aba6bf;
	color: #595775;
	padding: 5px;
	margin-top: 15px;
	border-top: 1px solid #583e2e;
}

#id_selection, .item-chooser, .meal-outer, .meal-inner {
	list-style-type: none;
	padding: 0px;
}

#id_shop_dept {
	width: 100%;
}

.item {
	display: inline-block;
	padding: 2px 5px;
	margin: 2px;
	background-color: #595775;
	color: #FFF;
	border-radius: 5px;
}

/**** MEDIA QUERIES ****/

@media only screen and (max-width: 800px) {
	.hideaway {
	display: none;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		width: 1024px;
		margin: 0 auto;
	}
}
