.center {
	text-align: center;
}

.strong {
	font-weight: bold;
}

.top-mar-20 {
	margin-top: 20px;
}

.hideaway {
	display: none;
}

.deeper td {
	padding: 3px 0;
}

.got td {
	opacity: 0.2;
}

body {
	background-color: #F1E0D6;
}

header {
	padding: 20px 10px;
}

header h2 {
	text-align: center;
	color: #583e2e;
}

.container {
	width: 350px;
	padding-bottom: 15px;
}

.section-divider {
	display: block;
	width: 80%;
	background-color: #595775;
	margin: 20px auto;
}

.section-divider p {
	padding: 15px 5px;
	text-align: center;	
}

.section-divider a {
	text-transform: none;
	color: #F1E0D6;
	padding: 15px 5px;
}

.add-button {
	width: 100%;
	background-color: #aba6bf;
	text-transform: none;
	color: #F1E0D6;
	padding: 5px;
}

.add-button a {
	text-transform: none;
	color: #595775;
}

.dept-name, .meal-name {
	width: 100%;
	background-color: #aba6bf;
	padding: 5px;
	margin-top: 15px;
	border-top: 2px solid #583e2e;
}

#id_selection, .item-chooser, .meal-outer, .meal-inner {
	list-style-type: none;
	padding: 0px;
}

.item {
	display: inline-block;
	padding: 2px 5px;
	margin: 2px;
	background-color: #583e2e;
	color: #F1E0D6;
	border-radius: 5px;
}
