{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>Shopping list creator</title>
        <meta name="description" content="Shopping List Creator">
        <meta name="author" content="Matt Edwards">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <!--[if lt IE 9]>
        <script src="js/html5shim.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
        <header>
            <h2>PLAN-LIST-SHOP</h2>
        </header>
        <main role="main">
            {% block content %}
            {% endblock content %}
        </main>
        </div>
    </body>
</html>