{% extends 'shoplist_app/base.html' %}

{% block content %}
	<h4 class="center header-bar upper">Edit shop department</h4>
	<form action="{% url 'edit_department' department.id %}" method="post">
		{% csrf_token %}
		<table>
		{{ form }}
		</table>
		<button class="add-button" name="submit">Save changes</button>
	</form>

	<div class="top-mar-20">
		<h4 class="center header-bar">Favourites found in this department</h4>
		<p>
		{% for item in items %}
			{% if item.favourite %}
				<span class="item">{{ item.name }}</span>
			{% endif %}
		{% empty %}
			<p>It looks like you don't visit this department.</p>
		{% endfor %}
		</p>
	</div>

	<div class="top-mar-20">
		<h4 class="center header-bar">Shop depts in the order you visit them</h4>
		<table class="table table-sm">
		{% for department in all_departments %}
		<tr>
			<td>{{ department.sort_order }}</td><td>{{ department.name }}</td>
		</tr>
		{% endfor %}
		</table>
	</div>

{% endblock content %}