{% extends 'shoplist_app/base.html' %}

{% block content %}
<button class="add-button"><a href="{% url 'add_item' %}">Add an item</a></button>
<table class="table table-sm">
	<thead>
		<tr>
			<th>Item</th><th>Storage location</th><th>Shop department</th><th>Fave</th><th></th>
		</tr>
	</thead>
{% for item in items %}
	<tr>
		<td>{{ item.name|capfirst }}</td><td>{{ item.storage_loc|capfirst }}</td><td>{{ item.shop_dept|capfirst }}</td>
		<td>
			{% if item.favourite == True %}
			Y
			{% endif %}
		</td>
		<td><a href="{% url 'edit_item' item.id %}">edit</a></td>
	</tr>
{% endfor %}
</table>
{% endblock content %}