{% extends 'shoplist_app/base.html' %}

{% block content %}
<button class="add-button"><a href="{% url 'add_item' %}">Add an item</a></button>
<table class="table table-sm stripe-list">
	<thead>
		<tr>
			<th>Item</th><th class="hideaway">Storage location</th><th class="hideaway">Shop department</th><th class="center">Fave</th><th></th>
		</tr>
	</thead>
{% for item in items %}
	<tr>
		<td>{{ item.name|capfirst }}</td><td class="hideaway">{{ item.storage_loc|capfirst }}</td><td class="hideaway">{{ item.shop_dept|capfirst }}</td>
		<td class="center">
			{% if item.favourite == True %}
			Y
			{% endif %}
		</td>
		<td><a href="{% url 'edit_item' item.id %}"><small>EDIT</small></a></td>
	</tr>
{% endfor %}
</table>
{% endblock content %}