{% extends 'shoplist_app/base.html' %}

{% block content %}
<h4>Choose the items to add to a new list.</h4>
<p><small>Items that have a short meal name between hyphens are needed to make that meal. These items are shown in addition to your favourites so some items might be duplicated. This makes it obvious where an item is needed for more than one purpose.</small></p>

<form class="item-chooser" method="post" action="{% url 'stock_items_add' %}">
	{% csrf_token %}
	{{ form }}	
	<input class="add-button" type="submit" value="Finalise your list" name="submit">
</form>


{% endblock content %}