{% extends 'shoplist_app/base.html' %}

{% block content %}
<h4 class="center header-bar upper">Choose meals for the next 7 days.</h4>
<p><small>Leave as "No meal selected" if you don't plan to cook a meal that day.</small></p>
<p><small>No meals to add? No worries, just leave them all as "No meal selected"</small></p>

<form method="post" action="{% url 'meal_items_add' %}">
	{{ formset.management_form }}
	{% csrf_token %}
	{% for form in formset %}
	<h6>Day {{ forloop.counter }}</h6>
	{{ form }}	
	{% endfor %}
	<input class="add-button" type="submit" value="Add your selection" name="submit">
</form>

{% endblock content %}