{% extends 'shoplist_app/base.html' %}

{% block content %}
<h4 class="center header-bar upper">Your meals</h4>
<button class="add-button"><a href="{% url 'add_meal' %}">Add a meal</a></button>
<ul class="meal-outer">
{% for meal in meals %}
	<li class="strong meal-name center">{{ meal.name|capfirst }}</li>
	<ul class="meal-inner">
		<li><strong>Serves:</strong> {{ meal.serves }}</li>
		<li><strong>Total time (mins):</strong> {{ meal.total_time }}</li>
		<li><strong>Ingredients:</strong><br> {{ meal.ingredients|linebreaks|capfirst }}</li>
		<li><strong>Method:</strong> {{ meal.method|linebreaks|capfirst }}</li>
		<li>
			<strong>Stuff to buy:</strong><br>
			{% for entry in meal.shoppinglist %}
			<span class="item">{{ entry|capfirst }}</span>
			{% endfor %}
		</li>
	</ul>
{% endfor %}
</ul>

{% endblock content %}